#############################################
# Environment Variables
#############################################

.env
backend/.env

#############################################
# Python
#############################################

backend/.venv/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

.pytest_cache/
.coverage
htmlcov/

#############################################
# Node
#############################################

frontend/node_modules/
frontend/dist/

#############################################
# VS Code / IDE
#############################################

.vscode/
.idea/

#############################################
# Logs
#############################################

*.log
logs/

#############################################
# ML Models
#############################################

ml/models/*.pkl
ml/models/*.joblib
ml/models/*.onnx

#############################################
# Operating System
#############################################

Thumbs.db
.DS_Store